/* CSS styles for the form and background image */
body {
    font-family: Arial, sans-serif;
    background-image: url('./pic2.jpg'); /* Replace 'your-image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.8); /* Add opacity to the background color */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h5 {
    margin-top: 20px;
    color: black; /* black */
}

select, input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #4daf4a; /* green */
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ccebc5; /* light green */
    color: #333;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #377eb8; /* blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #984ea3; /* purple */
}

h3 {
    margin-top: 30px;
    color:black; /* black */
    text-align: center;
}
